body {
    background: #3AAFA9;
    background-image: url(../assets/city.png);
    background-repeat: no-repeat;
    background-size: 100% 105%;
    color: #FEFFFF;
    font-family: 'arial';
    text-align: center;

}

.page{

}

.navbar {
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #17252A;
    border-bottom: 1px solid #FEFFFF;
}

.navbar-item {
    cursor: pointer;
    padding: 14px 20px;
    float: right;
    border-right: 1px solid #FEFFFF;
}

.navbar-item:hover {
    background-color: #2B7A78;
}

#homeButton {
    border-left: 1px solid #FEFFFF;
}

.header{
    margin-top: 40px;
    vertical-align: middle;
    margin-bottom: 2vh;
}

#name {
    display: inline-block;
    font-size: 50px;
    font-family: 'Audiowide';
}

#selfee {
    display: inline-block;
    margin-left: 1vh;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid #FEFFFF;
    
}

#find-me {
    font-size: 40px;
    font-family: 'Audiowide';
}

#icon-array{
    margin-bottom: 83px;
}

.about-me{
    overflow: hidden;
}

#summary {
    font-size: 18px;
    line-height: 1.8;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 75px;
}

.slideshow{
    text-align: center;
    font-size: 10vmin;
    font-family: 'Audiowide';
    overflow: hidden;
    margin-left: 2vh;
    margin-right: 2vh;
}

#fullstack {
    position: relative;
    animation: fullstack 30s infinite;
    height: 53.6vh;
    color: #DEF2F1;
}

#embedded{
    position: relative;
    animation: embedded 30s infinite;
    height: 53.6vh;
    margin-top: -53.6vh;
    color: #DEF2F1;
}

#mobile{
    position: relative;
    animation: mobile 30s infinite;
    height: 53.6vh;
    margin-top: -53.6vh;
    color: #DEF2F1;
}

#distributed{
    position: relative;
    animation: distributed 30s infinite;
    height: 53.6vh;
    margin-top: -53.6vh;
    color: #DEF2F1;
}

@keyframes fullstack {
    0% {opacity: 0; top: 2vh}
    12.5% {opacity: 1}
    25% {opacity: 0; top: 30vh}
    37.5% {opacity: 0; top: 30vh}
    50% {opacity: 0; top: 30vh}
    62.5% {opacity: 0; top: 30vh}
    75% {opacity: 0; top: 30vh}
    87.5% {opacity: 0; top: 30vh}
    100% {opacity: 0; top: 30vh}
}


@keyframes embedded {
    0% {opacity: 0; top: 2vh}
    12.5% {opacity: 0; top: 2vh}
    25% {opacity: 0; top: 2vh}
    37.5% {opacity: 1}
    50% {opacity: 0; top: 30vh}
    62.5% {opacity: 0; top: 30vh}
    75% {opacity: 0; top: 30vh}
    87.5% {opacity: 0; top: 30vh}
    100% {opacity: 0; top: 30vh}
}

@keyframes mobile {
    0% {opacity: 0; top: 2vh}
    12.5% {opacity: 0; top: 2vh}
    25% {opacity: 0; top: 2vh}
    37.5% {opacity: 0; top: 2vh}
    50% {opacity: 0; top: 2vh}
    62.5% {opacity: 1}
    75% {opacity: 0; top: 30vh}
    87.5% {opacity: 0; top: 30vh}
    100% {opacity: 0; top: 30vh}
}

@keyframes distributed {
    0% {opacity: 0; top: 2vh}
    12.5% {opacity: 0; top: 2vh}
    25% {opacity: 0; top: 2vh}
    37.5% {opacity: 0; top: 2vh}
    50% {opacity: 0; top: 2vh}
    62.5% {opacity: 0; top: 2vh}
    75% {opacity: 0; top: 2vh}
    87.5% {opacity: 1}
    100% {opacity: 0; top: 30vh}
}

#github-animation{
    transform: scale(0);
    font-size: 80px;
    font-family: 'Audiowide';
    margin-bottom: 80px;
}

svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
    fill: #17252A;
    text-decoration: none;
}

path{
    pointer-events: none;
}

svg:hover {
    fill: #2B7A78;
}

#react-text, #react{
    display:inline-block;
    vertical-align: middle;
    font-size: 20px;
}

a{
    color: #FEFFFF;
}

a:hover{
    color: #2B7A78;
}