body {
    background: #9c9c9c;
    color: #D6ED17FF;
    font-family: 'arial';
    font-size: 16px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #494949;
}

li {
    cursor: pointer;
    padding: 8px 20px;
    float: right;
}

li:hover {
    background-color: #111;
}