body {
    background: #3AAFA9;
    background-image: url(../assets/city.png);
    background-repeat: no-repeat;
    background-size: 100% 105%;
    color: #FEFFFF;
    font-family: 'arial';
    text-align: center;

}

.navbar {
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #17252A;
    border-bottom: 1px solid #FEFFFF;
}

.navbar-item {
    cursor: pointer;
    padding: 14px 20px;
    float: right;
    border-right: 1px solid #FEFFFF;
}

.navbar-item:hover {
    background-color: #2B7A78;
}

#homeButton {
    border-left: 1px solid #FEFFFF;
}

.header{
    margin-top: 40px;
    vertical-align: middle;
    margin-bottom: 2vh;
}

#name {
    display: inline-block;
    font-size: 50px;
    font-family: 'Audiowide';
    font-size: 5vmin;
}

#selfee {
    display: inline-block;
    margin-left: 1%;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid #FEFFFF;
    
}

.find-me {
    font-size: 40px;
    font-family: 'Audiowide';
    margin-top: 30vh;
}

.about-me{
    margin-bottom: 8.15vh;
}

#summary {
    font-size: 18px;
    line-height: 1.8;
    margin-left: 15%;
    margin-right: 15%;
}

.slideshow{
    text-align: center;
    font-size: 10vmin;
    font-family: 'Audiowide';
    overflow: hidden;
}

#skills {
    position: relative;
    animation: example 6s infinite;
    height: 53.6vh;
    color: #DEF2F1;
}

@keyframes example {
    0% {opacity: 0; top: 2vh}
    50% {opacity: 1}
    100% {opacity: 0; top: 35vh}
}

svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
    fill: #17252A;
    text-decoration: none;
}

svg:hover {
    fill: #2B7A78;
}

#react-text, #react{
    display:inline-block;
    vertical-align: middle;
    font-size: 20px;
}

a{
    color: #FEFFFF;
}

a:hover{
    color: #2B7A78;
}